* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
    text-decoration: none;
    color: initial;
}

input:-webkit-autofill {
    background-color: white !important;
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
    box-shadow: 0 0 0px 1000px white inset !important;
    -webkit-text-fill-color: #000 !important; 
}

.hidden {
    opacity: 0 !important;
    visibility: hidden !important;
    display: none !important;
}

.container {
    width: 100%;
    height: 100%;
    max-width: 1700px;
    background-color: #fff;
    padding: 2rem;
    overflow: auto;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#formInfo .btns-form-content .btn-form {
    max-width: 150px;
}

#formInfo .btns-form-content .btn-form#deleteAccount {
    background-color: #fe5d5d;
    color: #fff;
    border: 1px #fe5d5d solid;
}

.root {
    min-height: 100vh;
    width: 100%;
    background-color: #ececec;
}

main {
    height: calc(100vh - 80px);
    width: 100%;
    max-height: 800px;
    overflow: hidden;
}

header {
    width: 100%;
    height: 80px;
    padding: 5px 30px;
    background-color: #ffffff;
    position: relative;
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.168));
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    max-width: 1700px;
    margin: 0 auto;
}

nav .logo h2 {
    font-size: 25px;
    color: initial;
}

nav .menu span {
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .menu span svg {
    color: #333;
    cursor: pointer;
    transition: all 0.3s ease;
    opacity: 1;
    visibility: visible;
    position: absolute;
}

nav .menu span svg:hover {
    opacity: 0.7;
}

.menu-list.hidden {
    display: flex !important;
}

.menu-list {
    position: absolute;
    right: 10px;
    top: 80px;
    width: 200px;
    background-color: #f5f5f5;
    border-radius: 8px;
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.168));
    transition: all 0.3s ease;
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
    z-index: 10;
}

.menu-list.hidden {
    transform: translateY(-40px);
}

.menu-list ul {
    list-style: none;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.menu-list ul li a,
.menu-list ul li p {
    color: #333;
    font-size: 16px;
    cursor: pointer;
    font-weight: 500;
    letter-spacing: .75px;
    transition: all 0.3s ease;
}

.menu-list ul li a {
    display: flex;
    align-items: center;
}

.menu-list ul li a:hover,
.menu-list ul li p:hover {
    opacity: 0.7;
}

.menu-list ul li svg {
    color: #333;
    width: 15px;
    height: 15px;
    cursor: pointer;
    margin-right: 10px;
}

.menu-list ul li span {
    display: flex;
    align-items: center;
}

.menu-list ul li a.linkBorder {
    border-top: 1px solid #333;
    margin-top: 10px;
    padding-top: 10px;
}

.menu-list ul h2 {
    padding: 5px 0;
    font-size: 14px;
    font-weight: 500;
    color: #333;
    cursor: default;
}

/* Home */
.home {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home .home-container {
    width: 100%;
    max-width: 1700px;
    padding: 0 30px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home .home-image {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home .home-image img {
    width: 100%;
    max-width: 800px;
    height: auto;
}

.home-text {
    height: 100%;
    width: 50%;
    max-width: 650px;
    padding: 40px;
    
}

.home-text h2 {
    font-size: 40px;
    font-weight: 600;
    color: #333;
    line-height: 40px;
    margin: 70px 0 30px;
}

.home-text p {
    font-size: 20px;
    color: #333;
    line-height: 30px;
    margin-bottom: 30px;
}

.home-text a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.7s ease;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 250px;
}

.home-text a:hover {
    background-color: #fff;
    color: #333;
    border: 1px #333 solid;
}

/* form login */
.content-login {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.701);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: all 0.3s ease;
    opacity: 1;
    visibility: visible;
}

.login-container {
    width: 100%;
    max-width: 500px;
    background-color: #fff;
    padding: 2rem;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .75rem;
    color: #333;
}

.login-header h3 {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 0.5rem;
    text-align: center;
}

.login-header span {
    font-size: 15px;
    font-weight: 400;
}

#registerForm {
    padding-bottom: 10px;
}

#loginForm .btn-form,
#registerForm .btn-form {
    max-width: 100%;
    margin: 1rem 0 .5rem;
}

#loginForm span,
#registerForm span {
    font-size: 15px;
    font-weight: 400;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#loginForm span a,
#registerForm span a {
    text-decoration: underline;
    color: #333;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}

#loginForm span a:hover,
#registerForm span a:hover {
    opacity: 0.7;
}

.register-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
    transition: all 0.3s ease;
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    height: auto;
}

.register-container.active {
    max-height: 500px;
    opacity: 1;
    visibility: visible;
}

@media (min-width: 768px) {
    form {
        padding: 1rem 2rem 2rem;
    }
}

@media (max-width: 768px) {
    .home .home-container .home-text {
        width: 100%;
    }

    .home .home-container .home-image {
        display: none;
    }
}

@media (max-width: 500px) {
    .home .home-container {
        padding: 0 20px;
    }

    .home-text {
        padding: 0px;
    }

    .home-text h2 {
        font-size: 30px;
        line-height: 30px;
    }

    .home-text p {
        font-size: 16px;
        line-height: 25px;
    }

    .home-text a {
        font-size: 16px;
    }
}

/* Informações da conta */
.content-info {
    padding: 15px;
    height: 100%;
    width: 100%;
}

.modal-content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.701);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: all 0.3s ease;
    opacity: 1;
    visibility: visible;
}

.delete-confirm {
    width: 100%;
    max-width: 500px;
    background-color: #fff;
    padding: 2rem;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.delete-confirm h3 {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.delete-confirm p {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 1rem;
}

.delete-confirm .btns-form-content {
    justify-content: center;
}

.delete-confirm .btns-form-content .btn-form:first-child {
    background-color: #fe5d5d;
    color: #fff;
    border: 1px #fe5d5d solid;
}

/* Inputs padrão */
.coolinput {
    display: flex;
    flex-direction: column;
    position: static;
    width: 100%;
}

.coolinput label.label {
    font-size: .9rem;
    color: #333;
    font-weight: 500;
    position: relative;
    top: 0.5rem;
    margin: 0 0 0 7px;
    padding: 0 3px;
    background: #fff;
    width: fit-content;
}

.coolinput .input {
    height: 40px;
    padding: 5px 10px;
    font-size: 0.9rem;
    border: 1px #333 solid;
    border-radius: 5px; 
    background: #fff;
}

.coolinput.inputReadonly label.label {
    color: #787878;
}

.coolinput.inputReadonly .input {
    border: 1px #d2d2d2 solid;
    color: #787878;
    cursor: default;
}

.coolinput.inputReadonly .input:focus {
    outline: none;
}

.btn-form {
    margin-top: 1rem;
    border: 1px #333 solid;
    border-radius: 5px;
    background: #333;
    font-size: .95rem;
    font-weight: 500;
    color: #fff;
    height: 40px;
    width: 100%;
    max-width: 100px;
    cursor: pointer;
    transition: all 0.3s ease;
} 

.btn-form:hover {
    opacity: 0.7;
}

.success {
    margin-top: .5rem;
    color: green;
    font-weight: 500;
}

.error {
    margin-top: .5rem;
    color: red;
    font-weight: 500;
}

/* Cadastro de curriculos */
.content-curriculos {
    padding: 15px;
    height: 100%;
    width: 100%;
}

.curriculo-header-container {
    display: flex;
    justify-content: space-between;
}

.header-btns {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
}

.header-btns button {
    max-width: 150px;
}

.container-header {
    margin-bottom: 20px;
    width: 100%;
}

.container-header h3 {
    font-size: 25px;
    font-weight: 600;
    color: #333;
    margin-bottom: 0.3rem;
}

.container-header span {
    font-size: 18px;
    font-weight: 400;
    color: #333;
}

.form-curriculos {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
}

.form-curriculos .btn-form {
    max-width: 180px;
}

.coolinput select {
    padding-right: 25px;
}

.coolinput textarea {
    max-height: 100px;
    min-height: 100px;
    resize: none;
}

.form-curriculos p {
    font-size: 0.9rem;
    font-weight: 500;
    margin-top: 1rem;
    width: 100%;
}

.btns-form-content {
    display: flex;
    gap: 5px;
    width: 100%;
}

.btns-curriculo {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 50%;
    max-width: 300px;
    justify-content: end;
}

.btns-curriculo .deleteCurriculoBtn {
    background-color: #fe5d5d;
    color: #fff;
    border: 1px #fe5d5d solid;
}

.curriculo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;
    border-bottom: 1px solid #333;
}

.curriculo-item-header {
    display: flex;
    flex-direction: column;
}

.curriculos-not-found {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.curriculos-not-found .btn-form {
    max-width: 150px;
}

.curriculo-item.recused {
    background-color: #00000039;
}

.curriculo-item.recused .curriculo-item-header {
    cursor: default;
    opacity: 0.3;
}

.curriculo-item.recused .btns-curriculo .seeDetailsCurriculoBtn {
    pointer-events: none;
    opacity: 0.3;
}

.curriculo-item.recused .btns-curriculo .recuserBtn {
    background-color: #000000;
    border: 1px #000000 solid;
}

@media (max-width: 850px) {
    .curriculo-header-container {
        flex-direction: column;
        gap: 10px;
    }
}

@media (min-width: 768px) {
    .form-curriculos .coolinput {
        padding: 0 5px;
    }

    .form-curriculos .btn-form,
    .form-curriculos p {
        margin-left: 5px;
    }
    
    .coolinput.w-75 {
        width: 75%;
    }
    
    .coolinput.w-66 {
        width: 66.666%;
    }
    
    .coolinput.w-50 {
        width: 50%;
    }
    
    .coolinput.w-33 {
        width: 33.3333%;
    }
    
    .coolinput.w-25 {
        width: 25%;
    }
}

@media (max-width: 500px) {
    .content-curriculos .container {
        padding: 1rem;
    }

    .curriculo-header h3 {
        font-size: 20px;
    }

    .curriculo-header span {
        font-size: 15px;
    }

    .form-curriculos .btn-form {
        max-width: 100%;
    }
}

/* tela recrutadores */ 
.content-recruiters {
    padding: 15px;
    height: 100%;
    width: 100%;
}

.curriculo-detalhes .container-header #mainInfosHeader {
    width: 100%;
    margin: 20px 0;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.curriculo-detalhes .container-header #mainInfosHeader p:first-child {
    font-size: 20px;
    font-weight: 500;
    color: #333;
}

.curriculo-detalhes-content {
    padding: 10px;
}

#curriculoInfo section {
    margin-bottom: 1.8rem;
}

#curriculoInfo h4 {
    font-size: 20px;
    padding-bottom: 5px;
    font-weight: 500;
    color: #333;
    border-bottom: 1px solid #333;
    margin-bottom: 0.75rem;
}

#curriculoInfo p {
    font-weight: 400;
    color: #333;
    margin-bottom: 0.5rem;
}